<div class="about">
    <div class="avatar">
        <img src="{{" /image/default/avatar.jpg" | relURL }}" alt="avatar">
    </div>
    <h3 class="name">Luizera</h3>
    {{ with .Site.Params.author.description }}
    <p class="description">{{ . }}</p>
    {{ end }}

    <h3 class="name">Buy me a coffee <i class="bi bi-cup-hot-fill"></i></h3>

    <div class="coffee">
        <img src="{{" /image/default/buy-me-a-coffee.jpg" | relURL }}" alt="coffee">
    </div>
    <p>Cardano (ADA)</p>
    <p class="email">
        <span><a href="https://www.instagram.com/slvlz_/"><i class="bi bi-instagram"></i> Instagram</a></span>
        <span><a href="https://github.com/silva-luiz"><i class="bi bi-github"></i> Github</a></span>

    </p>
    <p class="email"><span><a href="https://www.tiktok.com/@fala.luizera"><i class="bi bi-tiktok"></i> TikTok</a></span>
    </p>

</div>