<div class="about">
    <div class="avatar">
        <img src="{{" /image/default/avatar.jpg" | relURL }}" alt="avatar">
    </div>
    <p class="name">Luizera</p>
    <p class="description">{{.Site.Author.description}}</p>
    <p class="name">Buy me a coffee <i class="bi bi-cup-hot-fill"></i></p>
    <div class="avatar">
        <img src="{{" /image/default/buy-me-a-coffee.png" | relURL }}" alt="coffee">
    </div>
    <p class="email">
        <span><a href="https://www.instagram.com/slvlz_/"><i class="bi bi-instagram"></i> Instagram</a></span>
        <span><a href="https://github.com/silva-luiz"><i class="bi bi-github"></i> Github</a></span>

    </p>
    <p class="email"><span><a href="https://www.tiktok.com/@fala.luizera"><i class="bi bi-tiktok"></i> TikTok</a></span>
    </p>

</div>