<h1 class="title-links">Links úteis (ou nem tanto)</h1>
<h2 class="category-title-links">
    Social
</h2>
<ul class="links-list">
    <li class="link-item">
        <a href="https://github.com/silva-luiz" target="_blank">GitHub</a>
    </li>
    <li>
        <a href="https://www.instagram.com/slvlz_/" target="_blank">Instagram</a>
    </li>
    <li>
        <a href="https://open.spotify.com/user/ufmmx2hpnimoio07q589ov9g6?si=19d604dc9e454cca"
            target="_blank">Spotify</a>
    </li>
    <li>
        <a href="https://www.tiktok.com/@fala.luizera" target="_blank">TikTok</a>
    </li>

</ul>

<h2 class="category-title-links">
    Joguinhos
</h2>
<ul class="links-list">
    <li>
        <a href="https://steamcommunity.com/id/luizera7/" target="_blank">Steam Profile</a>
    </li>
    <li>
        <a href="https://www.op.gg/summoners/br/Captain%20Hook-MVP" target="_blank">OPGG Profile</a>
    </li>
</ul>

<h2 class="category-title-links">
    Blogs
</h2>
<ul class="links-list">
    <li>
        <a href="https://umgeher.org" target="_blank">umgeher's changelog</a>
    </li>
    <li>
        <a href="https://alifrodrigues.wixsite.com/alifpimentel?fbclid=PAb21jcAM4QLRleHRuA2FlbQIxMQABp0yHp4wJX13QGclAe_00o-Nc9wkqjypqcbjrKmZLRr28l21ZuvyN3Om7ao0__aem_KY04doNYC2oXWLgO4TcPOg"
            target="_blank">Portfolio de fotos do Alif</a>
    </li>
</ul>

<h2 class="category-title-links">
    OS
</h2>
<ul class="links-list">
    <li>
        <a href="https://www.linuxmint.com/download.php" target="_blank">Mint</a>
    </li>
</ul>


<h2 class="category-title-links">
    Random
</h2>
<ul class="links-list">
    <li>
        <a href="https://cursos.makemusicnow.com.br/pt-br/club/next-level-mkmn" target="_blank">Curso de produção
            musical (0800)</a>
    </li>

</ul>