<h1 class="title-links">Links úteis (ou nem tanto)</h1>
<h2 class="category-title-links">
    Social
</h2>
<ul class="links-list">
    <li class="link-item">
        <a href="https://github.com/silva-luiz" target="_blank">GitHub</a>
    </li>
    <li>
        <a href="https://www.instagram.com/slvlz_/" target="_blank">Instagram</a>
    </li>
    <li>
        <a href="https://open.spotify.com/user/ufmmx2hpnimoio07q589ov9g6?si=19d604dc9e454cca"
            target="_blank">Spotify</a>
    </li>
    <li>
        <a href="https://www.tiktok.com/@fala.luizera" target="_blank">TikTok</a>
    </li>

</ul>

<h2 class="category-title-links">
    Joguinho
</h2>
<ul class="links-list">
    <li>
        <a href="https://www.op.gg/summoners/br/Captain%20Hook-MVP" target="_blank">OPGG Profile</a>
    </li>
    <li>
        <a href="https://steamcommunity.com/id/luizera7/" target="_blank">Steam</a>
    </li>
</ul>

<h2 class="category-title-links">
    Blogs
</h2>
<ul class="links-list">
    <li>
        <a href="https://umgeher.org" target="_blank">umgeher's changelog</a>
    </li>
</ul>

<h2 class="category-title-links">
    OS
</h2>
<ul class="links-list">
    <li>
        <a href="https://www.linuxmint.com/download.php" target="_blank">Mint</a>
    </li>
</ul>


<h2 class="category-title-links">
    Random
</h2>
<ul class="links-list">
    <li>
        <a href="https://github.com/free-educa/books/tree/main/books" target="_blank">Respositório de livros no
            GitHub</a>
    </li>
    <li>
        <a href="https://rpcs4.com/" target="_blank">Emulador PS4</a>
    </li>
    <li>
        <a href="https://makemusicnow.com.br/cursos-completos-home/curso-de-remixes/" target="_blank">Curso de produção
            musical</a>
    </li>

</ul>