:root[data-theme="light"] {

    --primary: #030b75;
    --primary-light: #0037ec;
    --secondary: #e6b700;

    --baseof-bg: var(--white);
    --baseof-ft: var(--grey-600);
    --baseof-bd: var(--grey-200);

    --stager-bg: var(--grey-100);
    --stager-ft: var(--grey-600);
    --stager-bd: var(--grey-400);

}


