.container-fluid {
    width: 100%;
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.list-container {
    display: flex;
    flex-direction: column;
    background-color: var(--baseof-bg);
    border-radius: 20px;
    margin-bottom: 2rem;
    padding: 1rem;
}

.all-posts {
    align-self: flex-end;
    font-size: 1.2rem;
}

@media (max-width: 768px) {
    .all-posts {
        align-self: center;
    }
}

.single-container {
    background-color: var(--stager-bg);
    margin-bottom: 2rem;
    padding: 1rem;
}

.nav-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.cards-container {
    position: sticky;
    top: 3rem;
}

.card-container {
    margin-bottom: 2rem;
    padding: 0 1rem;
}